
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>邮箱转发信息</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="~/layuimini/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="~/layuimini/css/public.css" media="all">
    <style>
        .layui-form-item .layui-input-company {
            width: auto;
            padding-right: 10px;
            line-height: 38px;
        }
    </style>
</head>
<body>
    <div class="layuimini-container">
        <form class="layui-form" action="EmailfowardStatusChange" method="post">
            <div class="layuimini-main">
                <div class="layui-form layuimini-form">
                    <div class="layui-form-item" style="display:none">
                        <label class="layui-form-label required">kg</label>
                        <div class="layui-input-block">
                            <input type="text" name="kg" id="kg" value="" lay-verify="required" class="layui-input" >
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label required">短信邮箱转发开关:</label>
                        <div class="layui-input-block">
                            <input type="checkbox" @ViewBag.status name="open" lay-skin="switch" lay-filter="switchTest" lay-text="ON|OFF">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label required">smtp服务器:</label>
                        <div class="layui-input-block">
                            <input type="text" name="smtp" value="@ViewBag.smtp" lay-verify="required" class="layui-input" lay-reqtext="smtp服务器不能为空" placeholder="请输入smtp服务器">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label required">smtp端口:</label>
                        <div class="layui-input-block">
                            <input type="text" name="smtpport" value="@ViewBag.smtpPort" lay-verify="required|number" class="layui-input" lay-reqtext="smtp服务器不能为空" placeholder="请输入smtp服务器">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label required">邮箱密钥</label>
                        <div class="layui-input-block">
                            <input type="text" name="key" value="@ViewBag.key" lay-verify="required" class="layui-input" lay-reqtext="邮箱密钥不能为空" placeholder="请输入邮箱密钥">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label required">发件人邮箱</label>
                        <div class="layui-input-block">
                            <input type="text" name="sendEmial" value="@ViewBag.sendEmial" lay-verify="required|email" class="layui-input" lay-reqtext="发件人邮箱不能为空" placeholder="请输入发件人邮箱">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label required">收件人邮箱</label>
                        <div class="layui-input-block">
                            <input type="text" name="reciveEmial" value="@ViewBag.reciveEmial" lay-verify="required|email" class="layui-input" lay-reqtext="收件人邮箱不能为空" placeholder="请输入收件人邮箱">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <input type="submit" class="layui-btn layui-btn-normal" value="提交" name="sub" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script src="~/layuimini/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
    <script src="~/layuimini/js/lay-config.js?v=1.0.4" charset="utf-8"></script>
    <script>
        //监听指定开关
        layui.use(['form'], function () {
            var form = layui.form
            form.on('switch(switchTest)', function (data) {
                document.getElementById("kg").value = this.checked ? 'true' : 'false';
            });
        });
        
    </script>
</body>
</html>
